<div>
    <nav>
        IN A LONG TIME
    </nav>
    <h3>{{senderName}} sent you a {contentType}!</h3>
    <p>On {{nextSendDate}}, {{senderName}} from the past sent you a {{contentType}}. It was originally sent to another email, 
        but the sender listed this email as the backup email. Click the button below to view it.</p>
    <button>
        <a href="{{{hostAddress}}}/future/{{{id}}}">View {contentType}</a>
    </button>
</div>