<div>
    <nav>
        IN A LONG TIME
    </nav>
    <h3>The {{contentType}} you sent has been viewed.</h3>
    <p>On {{nextSendDate}}, you sent a {{contentType}} to {{recipientEmail}}. Looks like they just opened it. You can click the button below to see it yourself.</p>
    <button>
        <a href="{{{hostAddress}}}/future/{{{id}}}">View {{contentType}}</a>
    </button>
</div>